{% extends 'index.html' %}
{% block content %}
{{ super() }}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1><br>
</div>

<!-- Content Row -->
<div class="row">

    <!-- CARD OXIGENO -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2 bg-dark">
            <div class="card-body bg-dark">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Estación: - {{ estacion }}
                                </div>
                            </div>
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-white text-uppercase mb-1">Dispositivo: - {{ dispositivo }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-solid fa-wind fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CARD GAS -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2 bg-dark">
            <div class="card-body bg-dark">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-white text-uppercase mb-1"> {{ dispositivo }}
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-white">{{ maximoNivel }} ppm</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-triangle fa-2x text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="showSection('section1')">Representación grafica</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="showSection('section2')">Representacion geografica</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="showSection('section3')">Datos</a>
    </li>
</ul>
<br>

<div id="section1" class="section active">
    <!-- Contenido de la sección 1 -->
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4 bg-light">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
                    <h6 class="m-0 font-weight-bold text-white">{{ dispositivo }} vs Time Stamp</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="grafica"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section2" class="section">
    <!-- Contenido de la sección 2 -->
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4 bg-dark">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
                    <h6 class="m-0 font-weight-bold text-white">Mapa geografico de los niveles de
                        calidad</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-white"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- agregar mapa de google -->
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31672.143832528614!2d-73.11803476571592!3d7.123913167518025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e68156dacac69f9%3A0x146fd58e59cbf254!2sPorter%C3%ADa%20principal%20UIS!5e0!3m2!1ses-419!2sco!4v1684099529017!5m2!1ses-419!2sco" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <div id="map" style="width: 100%; height: 1000px;"></div>

                    <script>
                        // Función para inicializar el mapa
                        function initMap() {
                            // Coordenadas de la UIS
                            const uisCoordinates = [-73.120787, 7.140800];

                            // Datos de ejemplo para el mapa de calor
                            const heatmapData = {{data_mapa | tojson }};

                            // Crear un mapa
                            const map = new ol.Map({
                                target: 'map',
                                view: new ol.View({
                                    center: ol.proj.fromLonLat(uisCoordinates),
                                    zoom: 15
                                })
                            });

                            // Capa base de OpenStreetMap
                            const osmLayer = new ol.layer.Tile({
                                source: new ol.source.OSM()
                            });

                            // Capa de mapa de calor
                            const heatLayer = new ol.layer.Heatmap({
                                source: new ol.source.Vector({
                                    features: heatmapData.map(data => {
                                        const feature = new ol.Feature({
                                            geometry: new ol.geom.Point(ol.proj.fromLonLat([data.lon, data.lat])),
                                            weight: data.value
                                        });
                                        return feature;
                                    })
                                }),
                                blur: 15,
                                radius: 10
                            });

                            // Añadir las capas al mapa
                            map.addLayer(osmLayer);
                            map.addLayer(heatLayer);
                        }
                        // Llamar a la función de inicialización del mapa cuando se cargue la página
                        window.onload = initMap;
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="section3" class="section">
    <!-- Contenido de la sección 3 -->
    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4 bg-dark">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-dark">
                    <h6 class="m-0 font-weight-bold text-white">Mediciones</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th scope="col">ID sensor</th>
                                <th scope="col">{{ dispositivo }}</th>
                                <th scope="col">Temperatura C<sup>o</sup></th>
                                <th scope="col">Hora</th>
                                <th scope="col">Coordenada</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in lista_resultados %}
                            <tr>
                                <th scope="row">{{ dato['deviceUUID'] }}</th>
                                <td>{{ dato['values'] }}</td>
                                <td>{{ dato['temperatura'] }}</td>
                                <td>{{ dato['timeStamp'] }}</td>
                                <td>Latitud: {{ dato['latitude'] }}, Longitud: {{ dato['longitude'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function showSection(sectionId) {
        var sections = document.getElementsByClassName('section');
        for (var i = 0; i < sections.length; i++) {
            sections[i].classList.remove('active');
        }
        document.getElementById(sectionId).classList.add('active');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Obtén los datos pasados desde Flask
    var timeStamp = {{ data['timeStamp']| tojson | safe }};
    var values = {{ data['values']| tojson | safe }};

    // Crea la gráfica utilizando Chart.js
    var ctx = document.getElementById('grafica').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timeStamp,
            datasets: [{
                label: 'Nivel medido',
                data: values,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: true
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Time Stamp'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Nivel (ppm)'
                    }
                }
            },
            plugins: {
                tooltip: {
                    // Cambia el color del texto del tooltip a blanco
                    bodyColor: '#CDCDCD',
                    titleColor: '#CDCDCD'
                },
                legend: {
                    // Cambia el color del texto de la leyenda a blanco
                    labels: {
                        color: '#000000'
                    }
                },
                title: {
                    // Cambia el color del texto del título a blanco
                    color: '#000000'
                },
                scales: {
                    // Cambia el color del texto de los ejes x e y a blanco
                    x: {
                        title: {
                            color: '#000000'
                        },
                        ticks: {
                            color: '#000000'
                        }
                    },
                    y: {
                        title: {
                            color: '#000000'
                        },
                        ticks: {
                            color: '#000000'
                        }
                    }
                }
            }
        }
    });
</script>
<!-- /.container-fluid -->
{% endblock %}